* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 2px 35px 14px rgba(43, 40, 40, 0.15);
}

.header {
  font-size: 18px;
  color: rgb(167, 162, 162);
  padding: 10px 0px;

}

.columns {
  display: flex;
  margin: 0px 0px 30px 0px;

}

.sidebar {
  flex: 0 1 30%;
  display: flex;
  padding: 30px 40px;
  flex-direction: column;
  gap: 60px;
  background: #a6a893;
}

.sidebar-title {
  color: rgb(247, 242, 242);
  margin: 0px 0px 20px 0px;
}

/* .photo {} */

.photo img {
  width: 100%;
  height: auto;
}

/* .contact {}

 */

.contact__list {
  color: rgb(247, 242, 242);
  padding: 0px 0px 0px 30px;
  font-size: 18px;
  line-height: 150%;
}

.contacts__link {
  color: rgb(247, 242, 242);
}


/*
.skils {}
 */
.skils__list {
  color: rgb(247, 242, 242);
  padding: 0px 0px 0px 30px;
  font-size: 18px;
  line-height: 150%;
}

.languages__list {
  color: rgb(247, 242, 242);
  padding: 0px 0px 0px 30px;
  font-size: 18px;
  line-height: 150%;
}

/* .languages__item {}
 */
.main {
  display: flex;
  flex-direction: column;
  flex: 0 1 70%;
  padding: 60px 40px;
}

.main-title {
  margin: 0px 0px 10px 0px;
}


.name {
  padding: 0px 0px 100px 0px;
}

.name__title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.name__subtitle {
  font-size: 24px;
  color: rgb(167, 162, 162);
}

.about {
  padding: 0px 0px 50px 0px;
}

.about p {
  font-size: 18px;
  line-height: 120%;
}

.experience {
  padding: 0px 0px 50px 0px;
}

.experience__inner {
  font-size: 18px;
  line-height: 150%;
}

.experience__position {
  font-weight: 700;
}

/* .work__company {}

.experience__period {}
 */
.projects {
  padding: 0px 0px 60px 0px;
}

.projects__title span {
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
}

.project__list {
  padding: 0px 0px 0px 20px;
  font-size: 18px;
  line-height: 150%;

}

.project__link {
  font-weight: 400;
  transition: all 0.3s ease;
  color: #333333;
}

.project__link:hover {
  font-weight: 700;
}

.education {
  padding: 0px 0px 50px 0px;
}


.study__title {
  font-size: 18px;
  line-height: 150%;
}

.footer {
  background: #a6a893;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.footer__link {
  display: inline-flex;
  margin: 0px 10px;
}

.footer__img {
  width: 30px;
}

.course {
  height: 30px;
  width: 90px;
}


@media (max-width: 768px) {
  .sidebar {
    padding: 15px 20px;
  }

  .contact__list {
    font-size: 15px;
    padding: 0px 0px 0px 20px;
  }

  .skils__list {
    font-size: 15px;
    padding: 0px 0px 0px 20px;
  }

  .languages__list {
    font-size: 15px;
    padding: 0px 0px 0px 20px;
  }

  .main {
    padding: 30px 20px;
  }
}

@media (max-width: 572px) {
  .sidebar {
    gap: 20px;
  }

  .columns {
    flex-direction: column;
  }

  .footer {
    padding: 10px 10px;
  }

  .photo {
    max-width: 320px;
    margin: 0 auto;
  }

  .contact__list {
    font-size: 18px;
  }

  .skils__list {
    font-size: 18px;
  }

  .languages__list {
    font-size: 18px;
  }

  .name {
    padding: 0px 0px 50px 0px;
  }
}